[submodule "pack/my/start/vim-colors-solarized"]
	path = pack/my/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/my/start/vim-papyrus"]
	path = pack/my/start/vim-papyrus
	url = https://github.com/sirtaj/vim-papyrus
